@model DogPicker.Models.Dog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="ChooseDog" method="post">
            <p>Good with children:</p>
            <input type="radio" name="GoodWithChildren" value="True" checked /> Yes
            <input type="radio" name="GoodWithChildren" value="False" /> No

            <p>Drool:</p>
            <input type="radio" name="Drools" value="True" checked /> Yes
            <input type="radio" name="Drools" value="False" /> No

            <p>Coat length:</p>
            <input type="radio" name="CoatLength" value="Short" checked /> Short
            <input type="radio" name="CoatLength" value="Medium" /> Medium
            <input type="radio" name="CoatLength" value="Long" /> Long

            <p>Size:</p>
            <input type="radio" name="Size" value="Miniature" checked /> Miniature
            <input type="radio" name="Size" value="Small" /> Small
            <input type="radio" name="Size" value="Medium" /> Medium
            <input type="radio" name="Size" value="Large" /> Large
            <input type="radio" name="Size" value="Giant" /> Giant

            <p>Activity Level:</p>
            <input type="radio" name="ActivityLevel" value="Low" checked /> Low
            <input type="radio" name="ActivityLevel" value="Medium" /> Medium
            <input type="radio" name="ActivityLevel" value="High" /> High
            <input type="radio" name="ActivityLevel" value="NoPreference" /> No Preference

            <p>Shedding:</p>
            <input type="radio" name="SheddingLevel" value="Low" checked /> Low
            <input type="radio" name="SheddingLevel" value="Medium" /> Medium
            <input type="radio" name="SheddingLevel" value="High" /> High
            <input type="radio" name="SheddingLevel" value="NoPreference" /> No Preference
            <p>Grooming:</p>
            <input type="radio" name="GroomingLevel" value="Low" checked /> Low
            <input type="radio" name="GroomingLevel" value="Medium" /> Medium
            <input type="radio" name="GroomingLevel" value="High" /> High
            <input type="radio" name="GroomingLevel" value="NoPreference" /> No Preference
            <p>Intelligence:</p>
            <input type="radio" name="IntelligenceLevel" value="Low" checked /> Low
            <input type="radio" name="IntelligenceLevel" value="Medium" /> Medium
            <input type="radio" name="IntelligenceLevel" value="High" /> High
            <input type="radio" name="IntelligenceLevel" value="NoPreference" /> No Preference
            <br/>
            <br/>

            <input type="submit" value="Recommend a Dog" />
        </form>
    </div>
</body>
</html>
